<form>
    <div>
        <label> Valor 1</label>
        <input type="text" id="value1">
    </div>
    <div>
        <label> Valor 2</label>
        <input type="text" id="value2">
    </div>
    <div>
        <label> Valor 3</label>
        <input type="text" id="value2">
    </div>
    <div>
        <label>Resultado</label>
        <input type="text" id="result">
    </div>
    <div>
        <button type="button" onclick="alert('HOLA');">Calcular</button>
        <button type="reset">Limpiar</button>
    </div>
</form>
